@model IEnumerable<DergiProjesi.Models.JournalModel>
@{
    ViewBag.Title = "Index";
}

<h2>Journal Listesi</h2>

<div class="row">
    <div class ="col-md-8">

        @foreach (var item in Model)
        {
        <div class="journal">

            <h3 class="page-header">
                @item.Name
            </h3>

            <hr />
            <img class="img-responsive" src="https://via.placeholder.com/900x300" alt="" />
            <hr />
            @Html.ActionLink("Dergi Detayı", "Details", "Journal", new { id = @item.Id }, new { @class = "btn btn-primary" })
            

        </div>
        
        }
    </div>

    @section RightColumn
    {
        @{Html.RenderAction("CategoryList", "Category");}  
    }

    <div
        class="col-md-4">
    </div>
</div>





